{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <h1 class="text-center my-5">Modifier votre mot de passe</h1>
    <div class="d-flex justify-content-center">
        <div class="card p-4 border-primary mb-5" style="width: 50vw; min-width: 300px">
            {{ form_start(formUser) }}
            {# -------champs old password------- #}
            {{ form_row(formUser.password, {
                'label' : 'Mot de passe',
                'label_attr' : {
                    'class' : 'text-primary'
                },
                'attr' : {
                    'placeholder' : 'Veuillez saisir votre mot de passe actuel'
                }
            }) }}

            {% if erreur is defined %}
                <div class="alert alert-danger">{{ erreur }}</div>
            {% endif %}

            {# -------champs new password------- #}
            {{ form_row(formUser.newPassword, {
                'label' : 'Mot de passe',
                'label_attr' : {
                    'class' : 'text-primary'
                },
                'attr' : {
                    'placeholder' : 'Veuillez saisir votre mot de passe'
                },
                'help' : "Le mot de passe doit contenir au moins 8 caractères."
            }) }}

            <input type="submit" class="btn btn-primary mt-2" value="Modifier">
            {{ form_end(formUser) }}
        </div>

    </div>

{% endblock %}